extends layout

block content
  h1 #{title}
  if cliente
    i(class="fas fa-user")
    span  ¡Hola, #{cliente.nombre} #{cliente.apellido}!
    br
    br
    span(id="fechaRegistro") Fecha de registro:
    p Bienvenido a nuestra página de ventas de videojuegos.
  else
    p Bienvenido/a, por favor regístrate para comenzar a comprar.
  

  form(action='/buscar-producto', method='GET' class='search-bar')
    input(type='text', name='q', placeholder='Buscar juego...')
    button(type='submit') Buscar

  //- Función dentro del mismo alcance para saber la fecha de registro
  script.
    function getFechaRegistro() {
      // Obtiene la fecha y hora actual
      const fecha = new Date();
      // Formatea la fecha y hora como string
      const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
      return fecha.toLocaleDateString('es-ES', options);
    }

    // Obtiene el elemento donde se mostrará la fecha de registro
    const fechaRegistroSpan = document.getElementById('fechaRegistro');
    // Actualiza el contenido del span con la fecha de registro
    fechaRegistroSpan.textContent = 'Fecha de registro: ' + getFechaRegistro();
