extends layout

block content
  h1 #{title}
  if cliente
    i(class="fas fa-user")
    span  ¡Hola, #{cliente.nombre} #{cliente.apellido}!
    br
    br
    span(id="fechaRegistro") Fecha de registro:
    p Bienvenido a nuestra página de ventas de videojuegos.
  else
    p Bienvenido/a, por favor regístrate para comenzar a comprar.
  

  form(action='/buscar-producto', method='GET' class='search-bar')
    input(type='text', name='q', placeholder='Buscar juego...')
    button(type='submit') Buscar

  //- Función dentro del mismo alcance para saber la fecha de registro
  script.
    function getFechaRegistro() {
      // Obtiene la fecha y hora actual
      const fecha = new Date();
      // Formatea la fecha y hora como string
      const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
      return fecha.toLocaleDateString('es-ES', options);
    }

    // Obtiene el elemento donde se mostrará la fecha de registro
    const fechaRegistroSpan = document.getElementById('fechaRegistro');
    // Actualiza el contenido del span con la fecha de registro
    fechaRegistroSpan.textContent = 'Fecha de registro: ' + getFechaRegistro();
  
  .carousel-container
  .carousel.slide(data-ride="carousel", id="carouselExampleIndicators", style="display: grid; grid-template-columns: repeat(auto-fill, minmax(600px, 8fr)); gap: 40px;")
    .carousel-inner(style="width: 100%; height: 100%;")
      .carousel-item.active
        img.d-block.w-100(src="../images/producto1.jpg", alt="First slide", style="object-fit: contain; width: 100%; height: 100%;")
      .carousel-item
        img.d-block.w-100(src="../images/producto2.jpg", alt="Second slide", style="object-fit: contain; width: 100%; height: 100%;")
      .carousel-item
        img.d-block.w-100(src="../images/producto3.jpg", alt="Third slide", style="object-fit: contain; width: 100%; height: 100%;")
      .carousel-item
        img.d-block.w-100(src="../images/producto4.jpg", alt="Fourth slide", style="object-fit: contain; width: 100%; height: 100%;")
      .carousel-item
        img.d-block.w-100(src="../images/producto5.jpg", alt="Fifth slide", style="object-fit: contain; width: 100%; height: 100%;")
      .carousel-item
        img.d-block.w-100(src="../images/producto6.jpg", alt="Sixth slide", style="object-fit: contain; width: 100%; height: 100%;")
      .carousel-item
        img.d-block.w-100(src="../images/producto7.jpg", alt="Seventh slide", style="object-fit: contain; width: 100%; height: 100%;")
    a.carousel-control-prev(href="#carouselExampleIndicators", role="button", data-slide="prev", style="top: 50%; transform: translateY(-50%);")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#carouselExampleIndicators", role="button", data-slide="next", style="top: 50%; transform: translateY(-50%);")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next
