// layout.pug
doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
    style.
      .material-symbols-outlined {
        font-family: 'Material Symbols Outlined', sans-serif;
      }
  body
    nav
      ul
        li
          a(href='/') Inicio
        li
          a(href='/catalogo') Catálogo de Productos
        li
          // Utiliza el código Unicode del ícono del carrito de compra
          a(href='/carrito') &#128722; (#{carrito.length})
        li
          a(href='/registro_cliente')
            i.fa.fa-user
            i Registrarme
    .container
      block content
